<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <button [routerLink]="['/home']" routerLinkActive="router-link-active"   class="btn btn-info" ><i class="fa fa-home"></i> Home</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/employee']" routerLinkActive="router-link-active"   class="btn btn-info" ><i class="fa fa-database"></i> Data</button>
      </li>
      <li class="nav-item">
        <button [routerLink]="['/about']" routerLinkActive="router-link-active"   class="btn btn-info" ><i class="fa fa-info"></i> About project</button>
      </li>
    </ul>
</nav>