<div>
  <div>
    <button (click)="showHide()" class="btn btn-primary">{{imageStatus ? 'Hide': 'Show'}} image</button>
    <button id="btn" mat-raised-button color="primary" (click)="showDialog()">Show dialog</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Salary</th>
        <th>Age</th>
        <th *ngIf="imageStatus">Image</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr td *ngFor="let item of podaci">
        <td>{{item.id}}</td>
        <td>{{item.employee_name}}</td>
        <td>{{item.employee_salary}} $</td>
        <td>{{item.employee_age}}</td>
        <td *ngIf="imageStatus">
          <img class="image" src="../../assets/images/test.png">
        </td>
        <td>
          <button class="btn btn-warning">
            <a [routerLink]="['/employeeDetail',item.id]" routerLinkActive="router-link-active" >Details</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" [routerLink]="['/newEmployee']" id="btn"><i class="fa fa-user-plus"></i> Add new</button>
